.grillanos {
    grid-gap: 5px;
    display: grid;
    grid-template-columns: (2, 1fr);
    grid-template-rows: 0.65fr 2.5fr 0.25fr 0.25fr;
    grid-template-areas:
        "headerind headerind"
        "nosotros nosotros"
        "form form"
        "footerind footerind"
    ;
    color: black;
    min-height: 100vh;

    .nosotros {
        grid-area: nosotros;
        background-image: url(../img/nosotros.jpg);
        background-position: relative;
        background-size: cover;

        .t4 {
            margin: 200px 300px 200px 300px;
            padding: 10px;
            font-family: 'Montserrat', sans-serif;
            font-size: 23px;
            color: white;
            text-align: center;
        }
    }
}

/*RESPONSIVE DESING - MEDIA QUERY - MOBILE LAST*/
/*MOBILE LAST = MAX-WIDTH*/
@media (max-width: 768px) {
    .grillanos {
        grid-template-rows: 0.25fr 2.5fr 0.25fr 0.25fr;
        grid-template-areas:
            "headerind headerind"
            "nosotros nosotros"
            "form form"
            "footerind footerind"
        ;
        .nosotros{
            .t4 {
                margin: 50px 100px 50px 100px;
                font-size: 18px;
            }
        }
    }
}

/*DISPOSITIVO CHICOS // SM */
@media (max-width:375px) {
    .grillanos {
        grid-template-rows: 0.5fr 2fr 0.25fr 0.25fr;
        grid-template-areas:
            "headerind headerind"
            "nosotros nosotros"
            "form form"
            "footerind footerind"
        ;
        .nosotros{
            .t4 {
                margin: 25px 50px 25px 50px;
                font-size: 15px;
            }
        }
    }
}